<section class="section container-fluid">

    <div class="scrollable">

        <div class="scrollable-content subtitle-content wrapper-content-section">

            <div id="content-wrapper">
                <div class="inner clearfix">
                    <section>
                        <!--<h3>Support and Contact</h3>-->

                        <h4> Support and Contact</h4>

                        <ul>
                            <li>If you're seeking technical help, head over to <a href="http://stackoverflow.com/">StackOverflow</a> to ask your question and tag it as <strong>adaptiveme</strong> - we might not see the question if you don't tag it. </li>
                            <li>For general information, head over to our <a href="http://adaptive.me">site</a> and check out our <a href="http://adaptive.me/blog">blog</a>.</li>
                            <li>You can follow us on <a href="https://twitter.com/adaptiveme">twitter</a> and <a href="http://www.google.com/+AdaptiveMe">Google+</a>.</li>
                            <li>If you have something more to discuss, mail <a href="mailto:carlos@adaptive.me">me</a>!</li>
                        </ul>

                    </section>

                </div>
            </div>

        </div>

    </div>
</section>