<section class="section container-fluid">

    <div class="scrollable">

        <!--<div class="section border-bottom-line-subtitle subToolBarMenu">
            <div class="row">
                <div class="col-xs-4">
                </div>
                <div class="col-xs-4">
                    <p class="align-center label-form text-center">Favorites</p>
                </div>
                <div class="col-xs-4">
                </div>
            </div>
        </div>-->

    </div>
</section>