<section class="section container-fluid">
    <div class="scrollable" ui-state="searchBar">
        <div class="scrollable-content subtitle-content wrapper-content-section">

            <div id="content-wrapper">
                <div class="inner clearfix">
                    <section>
                        <h3>The Adaptive.me Project</h3>

                        <p>
                            <a href="http://adaptive.me"><img src="styles/images/adaptive_logo_2.png" alt="adaptive.me">
                            </a>
                        </p>

                        <h4>What is Adaptive.me?</h4>

                        <p>Adaptive is a multi-platform, multi-screen app development and build environment that provides the right tools crafted for and by developers, designers and testers like you. We strive to build a better way to create HTML5 hybrid apps for mobile, web and everywhere. </p>

                        <p>Adaptive is comprised of a series of PaaS (Platform-As-A-Service) development tools and build services and open-source runtimes to encapsulate hybrid apps on a diversity of platforms. The Adaptive Runtime Platform (ARP) represents all the open-source portions of the platform to facilitate co-creation, contribution and build a community around our project!</p>

                        <p>For more information please visit
                            <a href="http://adaptive.me">http://adaptive.me</a>. And, yes, we need to make some money at some stage to feed our developers and pet hamsters - yours truly included - all donations of funds and materials for the development and support of these open-source projects are very welcome. Codingly yours, Carlos!</p>

                        <br>

                        <h4>Projects</h4>
                        <h5>Adaptive Runtime Platform (ARP)</h5>

                        <p>
                            <a href="#"><img src="styles/images/arp_for_Runtime.png" alt="Adaptive Runtime Platform">
                            </a>
                        </p>

                        <p>Hybrid apps are applications that are built using HTML5/CSS3/JavaScript web technologies and use a native "containers" to package the app to enable access to the native functionalities of a device. In essence, you can write a rich mobile/wearable/tv application using HTML and JavaScript and package that application as a native app for multiple mobile/wearable/tv platforms and distribute them on the different app stores and markets.</p>

                        <p>The Adaptive Runtime Platform (ARP) provides these native "containers" to package apps for the main mobile, wearable and desktop platforms... and other platforms as they emerge. Adaptive Runtime Platform (ARP) and sub-projects are open-source under the <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License, Version 2.0</a>. The Adaptive Runtime Platform (ARP) project was created by <a href="https://github.com/carloslozano">Carlos Lozano Diez</a> as part of the <a href="http://adaptive.me">adaptive.me</a> set of products.</p>

                    </section>

                </div>
            </div>

        </div>

    </div>
</section>