<section class="section container-fluid">

    <div class="scrollable">
        <div class="section border-bottom-line-subtitle subToolBar">

            <div class="row">
                <div ng-click="returnToMethodPage()" class="col-xs-4">
                    <div class="btn btn-default back-button"> <i class="fa fa-chevron-left pull-left back-icon"></i> Back</div>
                </div>
                <div class="col-xs-4">
                    <p class="align-center label-form text-center">OSInfo</p>
                </div>
                <div class="col-xs-4">
                </div>
            </div>

        </div>

        <div class="scrollable-content section list-content-form">

            <form role="form" ng-submit='submit()' style="height: 100%;" class="form-method-content">
                <fieldset style="height: 100%;">

                    <div class="method-content">
                        <br>
                        <p>Represents the basic information about the operating system.</p>
                        <br>

                        <p><b>Author:</b> Francisco Javier Martin Bueno
                        </p>

                        <p><b>Since:</b> v2.0
                        </p>
                        <br>
                        <p>Extends: <u><a ng-click="go('descriptor-method')" style="color: #428BCA;">APIBean</a></u>
                        </p>
                        <br>
                        <p><b>Parameters:</b>
                        </p>
                        <br>
                        <p><b>name</b> [<u><a ng-click="go('descriptor-method')" style="color: #428BCA;">IOS.Type</a></u>]: The name of the operating system.
                        </p>

                        <p><b>version</b> [String]: The version/identifier of the operating system.
                        </p>

                        <p><b>vendor</b> [String]: The vendor of the operating system.
                        </p>

                        <br>

                    </div>

                </fieldset>
            </form>
        </div>
    </div>

</section>