<section class="section container-fluid">

    <div class="scrollable">
        <div class="section border-bottom-line-subtitle subToolBar">

            <div class="row">
                <div ng-click="returnToMethodPage()" class="col-xs-4">
                    <div class="btn btn-default back-button"> <i class="fa fa-chevron-left pull-left back-icon"></i> Back</div>
                </div>
                <div class="col-xs-4">
                    <p class="align-center label-form text-center">getOSInfo</p>
                </div>
                <div class="col-xs-4">
                </div>
            </div>

        </div>

        <div class="scrollable-content section list-content-form">

            <form role="form" ng-submit='submit()' style="height: 100%;" class="form-method-content">
                <fieldset style="height: 100%;">

                    <div class="method-content">

                        <div class="blob-wrapper data type-java">

                            <div>
                                <div class="blob-code blob-code-inner"><span>/*</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> * =| ADAPTIVE RUNTIME PLATFORM</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> * (C) Copyright 2013-2014 Carlos Lozano Diez t/a Adaptive.me &lt;http://adaptive.me&gt;.</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> * the License. You may obtain a copy of the License at</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *     http://www.apache.org/licenses/LICENSE-2.0</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> * Unless required by applicable law or agreed to in writing, software disdivibuted under the License is disdivibuted on</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> * specific language governing permissions and limitations under the License.</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> * Original author:</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *     * Carlos Lozano Diez</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *                 &lt;http://github.com/carloslozano&gt;</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *                 &lt;http://twitter.com/adaptivecoder&gt;</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *                 &lt;mailto:carlos@adaptive.me&gt;</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> * Condivibutors:</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *     * Ferran Vila Conesa</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *                 &lt;http://github.com/fnva&gt;</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *                 &lt;http://twitter.com/ferran_vila&gt;</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *                 &lt;mailto:ferran.vila.conesa@gmail.com&gt;</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *     * Aryslan</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *                 &lt;http://github.com/Aryslan&gt;</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *                 &lt;http://twitter.com/Aryslan&gt;</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *                 &lt;mailto:ddbc@gft.com&gt;</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *     * Francisco Javier Martin Bueno</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *                 &lt;https://github.com/kechis&gt;</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *                 &lt;mailto:kechis@gmail.com&gt;</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> * </span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> */</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner">
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span class="pl-k">package</span> <span class="pl-smi">me.adaptive.arp.api</span>;</div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner">
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>/**</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> * Represents the basic information about the operating system.</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> *</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> * @author Francisco Javier Martin Bueno</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> * @since v2.0</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span> */</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span class="pl-k">public</span> <span class="pl-k">class</span> <span class="pl-en">OSInfo</span> <span class="pl-k">extends</span> <span class="pl-e">APIBean</span> {</div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner">
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> <span>/**</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     * The name of the operating system.</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     */</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> <span class="pl-k">private</span> <span class="pl-c1">IOS</span><span class="pl-k">.</span><span class="pl-smi">Type</span> name;</div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner">
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> <span>/**</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     * The version/identifier of the operating system.</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     */</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> <span class="pl-k">private</span> <span class="pl-smi">Sdiving</span> version;</div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner">
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> <span>/**</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     * The vendor of the operating system.</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     */</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> <span class="pl-k">private</span> <span class="pl-smi">Sdiving</span> vendor;</div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner">
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> <span>/**</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     * Default consdivuctor</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     *</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     * @since v2.0</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     */</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> <span class="pl-k">public</span> <span class="pl-en">OSInfo</span>() {</div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> }</div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner">
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> <span>/**</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     * Consdivuctor used by implementation to set the OS information.</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     *</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     * @param name    of the OS.</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     * @param version of the OS.</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     * @param vendor  of the OS.</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     * @since v2.0</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     */</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> <span class="pl-k">public</span> <span class="pl-en">OSInfo</span>(<span class="pl-smi">IOS</span>.<span class="pl-smi">Type</span> <span class="pl-v">name</span>, <span class="pl-smi">Sdiving</span> <span class="pl-v">version</span>, <span class="pl-smi">Sdiving</span> <span class="pl-v">vendor</span>) {</div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> <span class="pl-v">this</span><span class="pl-k">.</span>name <span class="pl-k">=</span> name;</div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> <span class="pl-v">this</span><span class="pl-k">.</span>version <span class="pl-k">=</span> version;</div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> <span class="pl-v">this</span><span class="pl-k">.</span>vendor <span class="pl-k">=</span> vendor;</div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> }</div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner">
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> <span>/**</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     * Returns the name of the operating system.</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     *</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     * @return OS name.</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     * @since v2.0</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     */</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> <span class="pl-k">public</span> <span class="pl-smi">IOS</span>.<span class="pl-smi">Type</span> <span class="pl-en">getName</span>() {</div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> <span class="pl-k">return</span> name;</div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> }</div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner">
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> <span>/**</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     * Returns the version of the operating system.</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     *</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     * @return OS version.</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     * @since v2.0</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     */</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> <span class="pl-k">public</span> <span class="pl-smi">Sdiving</span> <span class="pl-en">getVersion</span>() {</div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> <span class="pl-k">return</span> version;</div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> }</div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner">
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> <span>/**</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     * Returns the vendor of the operating system.</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     *</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     * @return OS vendor.</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     * @since v2.0</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"><span>     */</span>
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> <span class="pl-k">public</span> <span class="pl-smi">Sdiving</span> <span class="pl-en">getVendor</span>() {</div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> <span class="pl-k">return</span> vendor;</div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner"> }</div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner">
                                </div>
                            </div>
                            <div>
                                <div class="blob-code blob-code-inner">}</div>
                            </div>




                        </div>

                    </div>

                </fieldset>
            </form>
        </div>
    </div>

</section>