<section class="section container-fluid">

    <div class="scrollable">
        <div class="section border-bottom-line-subtitle subToolBar">

            <div class="row">
                <div ng-click="setBackTransitionMethods()" class="col-xs-4">
                    <div class="btn btn-default back-button"> <i class="fa fa-chevron-left pull-left back-icon"></i> Back</div>
                </div>
                <div class="col-xs-4">
                    <p class="align-center label-form text-center">getOrientationDefault</p>
                </div>
                <div class="col-xs-4">
                </div>
            </div>

        </div>

    </div>

</section>
