/*****************************************************/
/*                     Main CSS                      */
/*****************************************************/
/*****************************************************/
/*                Bootstrap Overwrite                */
/*****************************************************/

html,
body {
    font-size: 14px;
    height: 100%;
}

.navbar {
    border-bottom: 2px solid transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-bottom: 0px;
    min-height: 2.857em;
}

.navbar-toggle {
    float: left;
    margin-right: 0px;
    padding: 0px 0px;
    margin-bottom: 0.214em;
    margin-top: 0.500em;
    background-color: transparent;
    background-image: none;
    border: none;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default {
    background-color: rgb(0, 76, 138);
    border-color: rgb(52, 147, 213);
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 0.286em 1.071em;
}

.input-group-addon {
    background-color: #ffffff;
}

.form-group {
    margin-bottom: 0.7em;
}

.btn-lg,
.btn-group-lg > .btn {
    padding: 7px 16px;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
    .navbar-toggle {
        display: block;
    }
}
/*****************************************************/
/*             Jasny Bootstrap Overwrite             */
/*****************************************************/

.navmenu-default,
.navbar-default .navbar-offcanvas {
    background-color: rgb(0, 76, 138);
    border-color: rgb(52, 147, 213);
}

.navmenu-default .navmenu-nav.dropdown-menu,
.navbar-default .navbar-offcanvas .navmenu-nav.dropdown-menu {
    background-color: rgb(0, 61, 115);
}

.navmenu-default .navmenu-nav>li>a,
.navbar-default .navbar-offcanvas .navmenu-nav>li>a {
    color: #ffffff;
}

.navmenu-default .navmenu-nav>li>a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav>li>a:hover,
.navmenu-default .navmenu-nav>li>a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav>li>a:focus {
    color: #ffffff;
}

.navmenu-default .navmenu-nav>.open>a,
.navbar-default .navbar-offcanvas .navmenu-nav>.open>a,
.navmenu-default .navmenu-nav>.open>a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav>.open>a:hover,
.navmenu-default .navmenu-nav>.open>a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav>.open>a:focus {
    color: #ffffff;
}

.navmenu-nav.dropdown-menu {
    margin-bottom: 0.714em;
    -moz-box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.25);
}

.navmenu-nav.dropdown-menu li:first-child {
    padding-top: 1.429em;
}

.navmenu-nav.dropdown-menu li {
    padding-top: 0.700em;
}

.navmenu-nav.dropdown-menu li:last-child {
    padding-bottom: 0.900em;
}

.navmenu-nav.dropdown-menu >li> a,
.navmenu-nav.dropdown-menu >li> a:hover,
.navmenu-nav.dropdown-menu >li> a:focus {
    color: rgb(153, 177, 199);
}

.navmenu,
.navbar-offcanvas {
    width: 20.429em
}

.navmenu-fixed-left,
.navbar-offcanvas.navmenu-fixed-left {
    border: 0px
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background-color: #004c8a;
}
/*
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////

    http://jsbin.com/rucopakuxe/1/edit
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
*/
/* adjust body when menu is open */

body.slide-active {
    overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/

.no-margin-top {
    margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */

#page-content {
    position: relative;
    padding-top: 70px;
    left: 0;
}

#page-content.slide-active {
    padding-top: 0
}
/* put toggle bars on the left :: not using button */

#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
}
/* icon bar prettyup - optional */

#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}

#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: orange
}

.navbar-header {
    position: relative
}
/* un fix the navbar when active so that all the menu items are accessible */

.navbar.navbar-fixed-top.slide-active {
    position: relative
}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */

@media (max-width: 767px) {
    #slide-nav .container {
        margin: 0;
        padding: 0!important;
    }
    #slide-nav .navbar-header {
        margin: 0 auto;
        padding: 0 15px;
    }
    #slide-nav .navbar.slide-active {
        position: absolute;
        width: 80%;
        top: -1px;
        z-index: 1000;
    }
    #slide-nav #slidemenu {
        background: #f7f7f7;
        left: -100%;
        width: 80%;
        min-width: 0;
        position: absolute;
        padding-left: 0;
        z-index: 2;
        top: -8px;
        margin: 0;
    }
    #slide-nav #slidemenu .navbar-nav {
        min-width: 0;
        width: 100%;
        margin: 0;
    }
    #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
        min-width: 0;
        width: 80%;
        white-space: normal;
    }
    #slide-nav {
        border-top: 0
    }
    #slide-nav.navbar-inverse #slidemenu {
        background: #333
    }
    /* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/

    #slide-nav #navbar-height-col {
        position: fixed;
        top: 0;
        height: 100%;
        width: 80%;
        left: -80%;
        background: #eee;
    }
    #slide-nav.navbar-inverse #navbar-height-col {
        background: #333;
        z-index: 1;
        border: 0;
    }
    #slide-nav .navbar-form {
        width: 100%;
        margin: 8px 0;
        text-align: center;
        overflow: hidden;
        /*fast clearfixer*/
    }
    #slide-nav .navbar-form .form-control {
        text-align: center
    }
    #slide-nav .navbar-form .btn {
        width: 100%
    }
}

@media (min-width: 768px) {
    #page-content {
        left: 0!important
    }
    .navbar.navbar-fixed-top.slide-active {
        position: fixed
    }
    .navbar-header {
        left: 0!important
    }
}
/*****************************************************/
/*                  Grid List                        */
/*****************************************************/

.wrapper-itemList {
    height: 24.286em;
    overflow-y: scroll;
    overflow-x: none;
}

@media(min-height:475px) {
    .wrapper-itemList {
        height: 24.286em;
    }
}

@media(min-height:520px) {
    .wrapper-itemList {
        height: 31.286em;
    }
}

@media(min-height:600px) {
    .wrapper-itemList {
        height: 36.286em;
    }
}

@media(min-height:650px) {
    .wrapper-itemList {
        height: 40.286em;
    }
}

@media(min-height:700px) {
    .wrapper-itemList {
        height: 43.286em;
    }
}

@media(min-height:768px) {
    .wrapper-itemList {
        height: 46.786em;
    }
}

@media(min-height:800px) {
    .wrapper-itemList {
        height: 48.586em;
    }
}

@media(min-height:850px) {
    .wrapper-itemList {
        height: 30.586em;
    }
}

@media(min-height:900px) {
    .wrapper-itemList {
        height: 54.286em;
    }
}

@media(min-height:1024px) {
    .wrapper-itemList {
        height: 65.286em;
    }
}

.itemList {
    height: 2.857em;
    margin-bottom: 0.0em;
}

.itemList div {
    height: inherit;
    border-bottom: 1px solid rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    font-size: 0.9em;
    padding-bottom: 0.3em;
    padding-top: 0.8em;
}

.itemList .name {
    font-size: .9em;
    line-height: 1.3em;
    margin: 0;
    text-transform: uppercase;
}

.itemList .arrow {}
/*****************************************************/
/*                 three-line-menu-navicon          */
/*****************************************************/

.box-shadow-menu {
    position: relative;
    padding-left: 1.25em;
}

.box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: white;
    box-shadow: 0 0.25em 0 0 white, 0 0.5em 0 0 white;
}

.gradient-menu {
    padding-left: 1.25em;
    position: relative;
}

.gradient-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.21em;
    bottom: 0.21em;
    width: 1em;
    background: linear-gradient( to bottom, black, black 20%, white 20%, white 40%, black 40%, black 60%, white 60%, white 80%, black 80%, black 100%);
}

.border-menu {
    position: relative;
    padding-left: 1.25em;
}

.border-menu:before {
    content: "";
    position: absolute;
    top: 0.25em;
    left: 0;
    width: 1em;
    height: 0.125em;
    border-top: 0.375em double #000;
    border-bottom: 0.125em solid #000;
}
/*/////////////////////////////////////////////////
///                                             ///
/////////////////////////////////////////////////*/

.footer-submit {
    display: relative;
    position: fixed;
    height: 36px;
    bottom: 34px;
    left: 0px;
    width: 100%;
    /* margin-bottom: 57px; */
}

.label-form {
    /*display: inline-block;
    margin-bottom: 31px;
    font-weight: bold;
    text-align: center;
    width: 60%;
    position: absolute;
    padding: 0.6em;*/
    /*text-shadow: 0px -1px 0px #D0D0D0;*/
    /* text-shadow: 0px -1px 0px #D0D0D0; */

    padding-top: 4px;
    padding-bottom: 0px;
    margin-bottom: 4px;
    font-size: 1.15em;
    white-space: nowrap;
}
/*override .model in styles.css line 6337 */

.modal {
    display: block;
}
/*/////////////////////////////////////////////////
///     Incremental input number style          ///
/////////////////////////////////////////////////*/

.input-number #page-wrap {
    width: 500px;
    margin: 100px auto;
}

.input-number h1 {
    font: 26px Georgia, Serif;
    margin: 0 0 10px 0;
}

.input-number form {
    margin: 50px 0 0 0;
}

.input-number label {
    font: bold 20px Helvetica, sans-serif;
    display: block;
    float: left;
    text-align: right;
    padding: 5px 10px 0 0;
    width: 140px;
}

.input-number input[type=text] {
    float: left;
    width: 40px;
    font: bold 20px Helvetica, sans-serif;
    padding: 3px 0 0 0;
    text-align: center;
}

.input-number form div {
    overflow: hidden;
    margin: 0 0 5px 0;
}

.input-number .button {
    margin: 0 0 0 5px;
    text-indent: -9999px;
    cursor: pointer;
    width: 29px;
    height: 29px;
    float: left;
    text-align: center;
    background: url(images/buttons.png) no-repeat;
}

.input-number .dec {
    background-position: 0 -29px;
}

.input-number .buttons {
    padding: 20px 0 0 140px;
}

.arrow-list-center {
    margin-top: 10px;
    /* margin: 0; */
    /* padding: 0; */
    /* text-align: center; */
}

.description-item-list {
    /* display: inline-block;*/

    margin-bottom: 3px;
    /*font-weight: bold;*/

    font-size: 0.86em;
    white-space: nowrap;
    font-stretch: condensed;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.name-item-list {
    font-size: 1em;
    /* padding-left: 4px; */

    padding-right: 0px;
    margin-right: -5px;
    margin-bottom: 3px;
    margin-top: 6px;
}

.list-group-item {
    border: none;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 0;
}

.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.item-list>.row>.col-xs-2 {
    /*font-size: 1em;
    padding-left: 4px;
    padding-right: 0px;
    margin-right: -5px;*/
}

.border-bottom-line-subtitle {
    border-bottom: 1px solid #CBCBCB;
    background: rgb(240, 240, 240);
    /* border-top: 1px solid #cccccc; */
    /* margin-top: 1px; */
}
/*/////////////////////////////////////////////////
///        iOS Style arrow back button          ///
/////////////////////////////////////////////////*/

#ios-arrow-left {
    left: 20px;
    /*change the position*/
    /*top: 10px;*/
    /*change the position*/

    position: absolute;
    background-repeat: repeat-x;
    /* background-color: rgba(74, 108, 155, 1);*/

    background-color: #017aff;
    /*change this and the background color for the :before element*/

    background-image: -webkit-linear-gradient( bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.3) 100%);
    height: 30px;
    padding: 0 10px 0 8px;
    z-index: 0;
    border-radius: 6px;
    -webkit-border-top-left-radius: 10px 15px;
    -webkit-border-bottom-left-radius: 10px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    /* box-shadow: -1px -1px 0px rgba(0,
 0,
 0,
 0.2)inset,
 0 1px 2px rgba(0,
 0,
 0,
 0.8)inset;*/

    font-size: 13px;
    display: block;
    text-align: center;
    color: #fff;
    /*text-shadow: 0px -1px 0px #000;*/

    line-height: 30px;
    font-weight: 700;
    -webkit-background-size: 30px;
}

#ios-arrow-left:before {
    position: absolute;
    top: 9.9%;
    left: -5px;
    -webkit-background-size: 22px 22px;
    background-position: -2px -1.5px;
    /*background-color: rgba(74, 108, 155, 1);*/

    background-color: #017aff;
    /*change to the same as the main element*/

    background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(0, 0, 0, 0)), color-stop(0.5, rgba(0, 0, 0, 0)), color-stop(0.5, rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.3)));
    height: 25px;
    width: 25px;
    -webkit-transform: rotate(-45deg) skew(-10deg, -10deg);
    -webkit-border-top-right-radius: 100px 40px;
    -webkit-border-top-left-radius: 30px 2px;
    -webkit-border-bottom-right-radius: 2px 30px;
    -webkit-border-bottom-left-radius: 40px 100px;
    z-index: 1;
    content: ' ';
    border-left: 1.5px solid rgba(255, 255, 255, 0.3);
    /*box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2) inset, -1px 1px 1px rgba(0, 0, 0, 0.5) inset;*/

    -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(#000000), color-stop(0.33, #000000), color-stop(0.5, transparent), to(transparent));
}

.subtitle-content {
    /*margin-top: 3.5em;*/
}
/*/////////////////////////////////
///        back button          ///
/////////////////////////////////*/

.back-button {
    border: none;
    margin-left: 0px;
    padding-left: 0px;
    background: none;
}
/* Override fa-chevron-left:before*/

.back-icon {
    vertical-align: middle;
}

.subToolBar {
    padding-top: 0px;
    padding-bottom: 0px;
}

.subToolBarMenu {
    padding-top: 3px;
    padding-bottom: 3px;
}

.subToolBar p {
    margin-bottom: 0px;
    padding-top: 6px;
}

.list-content {
    height: 95%;
}

.list-content-form {
    height: 84%;
}
/*
.main-list-content {
    height: 103%;
}
*/

.fa-chevron-left:before {
    vertical-align: middle;
}

#window-resizer-tooltip {
    display: none;
    position: fixed;
    z-index: 100000;
    bottom: 0px;
    right: 0px;
    color: rgb(204, 204, 204);
    background: 10px 10px no-repeat rgba(0, 0, 0, 0.8);
    padding: 5px 0px 5px 40px;
    width: 200px;
    white-space: nowrap;
    border-top-left-radius: 10px;
    font: normal 11px Tahoma, Verdana, sans-serif;
}

#window-resizer-tooltip a {
    position: absolute;
    display: block;
    width: 19px;
    height: 19px;
    left: 11px;
    top: 50%;
    margin-top: -9px;
    background-image: url(chrome-extension://kkelicaakdanhinjdeammmilcgefonfh/images/icon_19.png);
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
not all injected stylesheet#window-resizer-tooltip a {
    background-size: 19px 19px;
    background-image: url(chrome-extension://kkelicaakdanhinjdeammmilcgefonfh/images/icon_19x2.png);
}

#window-resizer-tooltip .tooltiptitle {
    display: inline-block;
    width: 70px;
    text-align: right;
}

.wrapper-content-section {
    background: #fff;
    padding: 1em;
    /* margin-top: 1px; */

    height: 95%;
}

.footer {
    min-height: none;
    background: #f7f7f7;
    background: #f7f7f7;
    text-align: center;
    vertical-align: middle;
    /* padding: 1.1em; */
    /* min-height: 6%; */

    font-size: 0.87em;
    white-space: nowrap;
    font-stretch: condensed;
    height: 36px;
    min-height: 0px;
    color: #007aff;
    border-top: 1px solid rgb(213, 213, 213);
}
/*.sidebar-image-wrapper {
    padding: 2.5em;
    height: 34%;
    margin-top: -1.5em;
}*/
/*.sidebar-image-wrapper {
    padding: 5.5em;
    height: 44%;
    margin-top: -3.5em;
    text-align: center;
    overflow: hidden;
}*/

.sidebar-image-wrapper {
    /*padding-left: 9.5em;*/
    /* height: 44%; */
    /* margin-top: -3.5em; */

    overflow: hidden;
}

.img-responsive {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.navbar {
    position: absolute;
    margin-bottom: 0px;
    border: 1px solid transparent;
    min-height: 39px;
    border-bottom: 1px solid rgb(232, 232, 232);
    border-top: none;
}

.has-navbar-top .app-body {
    padding-top: 40px;
}

@media(min-height:400px) {
    .sidebar-image-wrapper {
        height: 30%;
    }
    .img-responsive {
        width: 50%;
    }
}

@media(min-height:450px) {
    .footer {
        /*padding: 1.1em;*/
        /* min-height: 6%;*/
        /*font-size: 0.8em;*/
    }
    .list-content-form {
        height: 84%;
    }
    .sidebar-image-wrapper {
        height: 40%;
        /* padding: 3.5em;
        height: 42%;
        margin-top: -1.5em;*/
    }
    .has-navbar-bottom .app-body {
        /* padding-bottom: 43px; */
        /* position: absolute; */
        /*height: 95%;*/
    }
    .img-responsive {
        width: 80%;
    }
}

@media(min-height:500px) {
    .footer {
        /*padding: 1.1em;
        min-height: 6%;
        font-size: 0.9em;*/
    }
    .sidebar-image-wrapper {
        height: 39%;
        /* padding: 3.5em;
        height: 42%;
        margin-top: -1.5em;*/
    }
    .img-responsive {
        width: 80%;
    }
    .navbar {
        min-height: 50px;
    }
    .has-navbar-top .app-body {
        padding-top: 50px;
    }
}

@media(min-height:550px) {
    .footer {
        /* padding: 1.1em;
        min-height: 6%;
        font-size: 1em;*/
    }
    .img-responsive {
        width: 85%;
    }
}

@media(min-height:600px) {
    .list-content-form {
        height: 87%;
    }
    .sidebar-image-wrapper {
        /* margin-top: -0.6em;
        padding: 3.5em;
        height: 34%;
        max-width: 100%;*/

        height: 32%;
    }
    .img-responsive {
        max-width: 95%;
    }
}

@media(min-height:650px) {
    .footer {
        /* padding: 1.1em;
        min-height: 6%;
        font-size: 1.1em;*/
    }
    .img-responsive {
        max-width: 95%;
    }
}
/*.emoji {
    margin-left: 0.0em;
    padding-left: 0.0em;
}*/
/* line 11, ../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_navbar.scss */
/*////////////////////////////////////////*/
/* Animation of transitions between views */
/*////////////////////////////////////////*/
/*.slide {
    position: relative;
    height: 98%;
}

.slide.ng-leave,
.slide.ng-enter {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -ms-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    position: absolute;
    height: 98%;
    left: 0;
    right: 0;
}

.slide.left.ng-enter,
.slide.right.ng-leave.ng-leave-active {
    left: 100%;
    opacity: 0;
}

.slide.left.ng-enter.ng-enter-active,
.slide.left.ng-leave,
.slide.right.ng-enter.ng-enter-active,
.slide.right.ng-leave {
    left: 0;
    opacity: 1;
}

.slide.left.ng-leave.ng-leave-active,
.slide.right.ng-enter {
    left: -100%;
    opacity: 0;
}*/

/////////////////////////////////////////////
.slide {
    position: relative;
    height: 98%;
}

.slide.ng-leave,
.slide.ng-enter {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    position: absolute;
    height: 98%;
    left: 0;
    right: 0;
}

.slide.left.ng-enter,
.slide.right.ng-leave.ng-leave-active {
    right: 98%;
    left: -400px;
    opacity: 0;
}

.slide.right.ng-enter.ng-enter-active,
.slide.right.ng-leave {
    /*right: 0;*/

    opacity: 1;
}

.slide2 {
    position: relative;
    height: 98%;
}

.slide2.ng-leave,
.slide2.ng-enter {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    position: absolute;
    height: 98%;
    left: 0;
    right: 0;
}

.slide2.left2.ng-enter,
.slide2.right2.ng-leave.ng-leave-active {
    left: 98%;
    /* opacity: 0;*/
}

.slide2.right2.ng-enter.ng-enter-active,
.slide2.right2.ng-leave {
    left: 0;
    /*opacity: 1;*/
}
/*/////////////////////////////////////////////////////////////////*/
/*/ Override font-awesome.css - bower_components/font-awesome/css/ */
/*/////////////////////////////////////////////////////////////////*/

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.sidebar-left {
    background: #FFF;
}

.sidebar-scrollable-content {
    width: 100%;
    height: 42%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.sidebar-content-info {
    bottom: 0;
    left: 0;
    position: absolute;
    /* padding-bottom: 12px; */
    /* margin-bottom: 156px; */
    /* text-align: end; */
    /* align-content: flex-end; */

    line-height: 137%;
    padding: 1.5em;
    font-size: 0.86em;
    /*border-top: 1px solid rgb(102, 102, 102);
  border-bottom: 1px solid rgb(102, 102, 102);*/
}
/*.footer-top-border {
    border-top: 1px solid #dddddd;
    min-height: 20px;
    height: 7.5%;
}*/
/*.navbar-app .btn,
.navbar-app .btn-navbar {
    background: 0 0;
    border: 0;
    line-height: 2.7em;
    padding-top: 0;
    padding-bottom: 0;
    color: #007aff;
    text-transform: uppercase;
}*/

.main-header {
    /* font-size: 1.07em;
    padding-top: 0.9em;
    margin-top: 0em;
    line-height: 15px;
    height: 29px;*/
    /*font-size: 1.07em;
    padding-top: none;
    margin-top: 0em;
    line-height: 100%;
    height: 100%;*/

    font-size: 1.07em;
    padding-top: none;
    margin-top: 0em;
    line-height: 100%;
    height: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 10px;
}

.navbar {}

.has-navbar-bottom .app-body {
    padding-bottom: 15px;
}

.navbar-app .btn,
.navbar-app .btn-navbar {
    line-height: 40px;
}

.app {
    background: #fff;
}

.form-control {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 97%;
    margin-left: 5px;
    border-radius: 16px;
}

.wrapper-search {
    height: 94%;
}

.starIcon {
    position: relative;
}
/*replace the content value with the
corresponding value from the list below*/

.starIcon:before {
    content: "\f006";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/

    color: #FF9B00;
    font-size: 22px;
    padding-right: 0.5em;
    position: absolute;
    top: 0px;
    left: 0;
}

.starIconFavorite {
    position: relative;
}
/*replace the content value with the
corresponding value from the list below*/

.starIconFavorite:before {
    content: "\f005";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/

    color: #FF9B00;
    font-size: 22px;
    padding-right: 0.5em;
    position: absolute;
    top: 0px;
    left: 0;
}

.navbar-app .btn,
.navbar-app .btn-navbar {
    line-height: none;
}

.navbar-app .btn,
.navbar-app .btn-navbar {
    background: 0 0;
    border: 0;
    line-height: 100%;
    /* padding-top: 0; */
    /* padding-bottom: 0; */

    color: #007aff;
    text-transform: uppercase;
    height: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    /*display: flex;*/
}

.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    position: absolute;
}

.pull-right {
    float: right !important;
    right: 0;
}