<div class="wrapper-without-background">
    <nav class="navbar navbar-default navbar-information-page">
        <div class="container-fluid">
            <div class="col-xs-3 text-center">
                <button type="button" class="btn btn-default btn-sm" ui-sref="main-page.units-list">BACK</button>
            </div>
            <div class="col-xs-6 text-center">
                <h4 style="color: white;">Methods List</h4>
            </div>
            <div class="col-xs-3 text-center">
                <button type="button" class="btn btn-default btn-sm" ui-sref="main-page.main-list">HOME</button>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="wrapper-itemList">
            <div class="itemList" ng-repeat="item in methods_list" ng-model="valueListSelected">
                <div class="col-xs-8 " ng-click="detailListSelected($index)">
                    <p class="name ">{{item.name}}</p>
                </div>
                <div class="col-xs-4 arrow text-right">></div>
            </div>
        </div>

    </div>
</div>