<section class="section container-fluid">

    <div class="scrollable">
        <div class="section border-bottom-line-subtitle subToolBar">

            <div class="row">
                <div class="col-xs-4">
                    <a href="#/methods-list" class="btn btn-default back-button"> <i class="fa fa-chevron-left pull-left back-icon"></i> Back</a>
                </div>
                <div class="col-xs-4">
                    <p class="align-center label-form text-center">{{detail_list.name}}</p>
                </div>
                <div class="col-xs-4">
                </div>
            </div>

        </div>

        <div class="scrollable-content section list-content-form">

            <form role="form" ng-submit='submit()'>
                <fieldset>
                    <legend>Implement Notes</legend>
                    <div class="form-group">
                        <label>...</label>
                    </div>
                    <legend>Parameters</legend>

                    <div>
                        <label>Select database: </label>
                        <select multiple class="form-control">
                            <option value="1">The 1st database</option>
                            <option value="2">The 2nd database</option>
                        </select>
                    </div>

                    <div class="form-group has-success has-feedback">
                        <label>Table name</label>
                        <input type="text" class="form-control" placeholder="Enter table name">
                    </div>

                    <!--<div id="page-wrap" class="input-number">

                        <form method="post" action="">
                            <div class="numbers-row input-number">
                                <label for="name">French Hens</label>
                                <input type="number" name="french-hens" id="french-hens" value="3">
                            </div>

                        </form>

                    </div>-->

                    <label>Column Count:
                        <input type="number " name="input " min="0 " max="99 " required>
                    </label>

                    <label>Row Count table:
                        <input type="number " name="input " min="0 " max="99 " required>
                    </label>

                    <div class="form-group ">
                        <label>Feature 1</label>
                        <ui-switch ng-model='Feature'></ui-switch>
                    </div>

                    <legend>Response message</legend>
                    <div class="form-group ">
                        <label>...</label>
                    </div>
                </fieldset>
                <hr>
                <div ui-content-for="navbarAction ">
                    <a class='btn' ui-turn-on="modal1 ">Help</a>
                </div>

            </form>

            <button class="btn btn-primary btn-block footer-submit " ui-turn-on="modal2 ">
                Submit
            </button>

        </div>
    </div>

</section>

<div ui-content-for="modals ">
    <div ng-include=" 'views/modal1.html' "></div>
    <div ng-include=" 'views/modal2.html' "></div>
</div>