<section class="section container-fluid">
    <h4 class="page-header"> </h4>

    <div class="scrollable" ui-state="searchBar">
        <input ng-if="Ui.active('searchBar')" type="search" class="form-control scrollable-header" placeholder="Search.." />

        <div class="scrollable-content">
            <div class="list-group">
                <a ng-repeat="item in scrollItems" href ng-click="itemMainListSelected($index)" class="list-group-item">
                    {{ item.name }}  ({{item.size}})
                    <i class="fa fa-chevron-right pull-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>