<section class="section container-fluid">

    <div class="scrollable" ui-state="searchBar">

        <!--<div ng-if="Ui.active('searchBar')" type="search" class="wrapper-search">


            <i class="fa fa-search fa-3x emoji"></i>

            <input ng-model="searchText" class="form-control scrollable-header" placeholder="Search.." />

            <div class="scrollable-content">
                <div class="list-group">

                    <div ng-repeat="item in scrollItems | filter:searchText" ng-click="itemMainListSelected($index)" class="list-group-item name-item-list">

                        <div class="row">
                            <div class="col-xs-10 name-item-list">
                                <p> testing {{item.name}} ({{item.size}})</p>
                                <p class="description-item-list">{{item.description}}</p>
                            </div>
                            <div class="col-xs-2  arrow-list-center">
                                <i class="fa fa-chevron-right pull-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->

        <div class="scrollable-content main-list-content">
            <div class="list-group">

                <!--<a ng-repeat="item in scrollItems" href ng-click="itemMainListSelected($index)" class="list-group-item name-item-list">
                    <div class="row">
                        <div class="col-xs-10 name-item-list">
                            <p>  <i class="fa fa-bars"></i>     {{item.name}} ({{item.size}})</p>
                            <p class="description-item-list">{{item.description}}</p>
                        </div>
                        <div class="col-xs-2  arrow-list-center">
                            <i class="fa fa-chevron-right pull-right"></i>
                        </div>
                    </div>

                </a>-->

                <!-- //Application-->
                <div ng-click="itemMainListSelected(0)" class="list-group-item item-list">
                    <div class="row">
                        <div class="col-xs-2  arrow-list-center text-center">
                            <i class="fa fa-mobile fa-3x emoji" styles="font-size: 2.5em;"></i>
                        </div>
                        <div class="col-xs-8" style="padding-left: 0px;">
                            <p class="name-item-list"> Application (0)</p>
                            <p class="description-item-list">Example, Application: Interface for Managing the DataStream operations, interface for Managing the DataStream operations</p>
                        </div>
                        <div class="col-xs-2  arrow-list-center">
                            <i class="fa fa-chevron-right pull-right"></i>
                        </div>
                    </div>
                </div>

                <!-- //Commerce-->
                <div href ng-click="itemMainListSelected(1)" class="list-group-item item-list">
                    <div class="row">
                        <div class="col-xs-2  arrow-list-center text-center">
                            <i class="fa fa-shopping-cart fa-2x emoji"></i>
                        </div>
                        <div class="col-xs-8" style="padding-left: 0px;">
                            <p class="name-item-list"> Commerce (0)</p>
                            <p class="description-item-list">Description text</p>
                        </div>
                        <div class="col-xs-2  arrow-list-center">
                            <i class="fa fa-chevron-right pull-right"></i>
                        </div>
                    </div>
                </div>

                <!--//Communication-->
                <div href ng-click="itemMainListSelected(2)" class="list-group-item item-list">
                    <div class="row">
                        <div class="col-xs-2  arrow-list-center text-center">
                            <i class="fa fa-user fa-2x emoji"></i>
                        </div>
                        <div class="col-xs-8" style="padding-left: 0px;">
                            <p class="name-item-list"> Communication (0)</p>
                            <p class="description-item-list">Description text</p>
                        </div>
                        <div class="col-xs-2  arrow-list-center">
                            <i class="fa fa-chevron-right pull-right"></i>
                        </div>
                    </div>
                </div>

                <!--//Data-->
                <div href ng-click="itemMainListSelected(3)" class="list-group-item item-list">
                    <div class="row">
                        <div class="col-xs-2  arrow-list-center text-center">
                            <i class="fa fa-database fa-2x emoji"></i>
                        </div>
                        <div class="col-xs-8" style="padding-left: 0px;">
                            <p class="name-item-list"> Data (8)</p>
                            <p class="description-item-list">Description text</p>
                        </div>
                        <div class="col-xs-2  arrow-list-center">
                            <i class="fa fa-chevron-right pull-right"></i>
                        </div>
                    </div>
                </div>

                <!-- //Media-->
                <div href ng-click="itemMainListSelected(4)" class="list-group-item item-list">
                    <div class="row">
                        <div class="col-xs-2  arrow-list-center text-center">
                            <i class="fa fa-laptop fa-2x emoji"></i>
                        </div>
                        <div class="col-xs-8 " style="padding-left: 0px;">
                            <p class="name-item-list"> Media (0)</p>
                            <p class="description-item-list">Description text</p>
                        </div>
                        <div class="col-xs-2  arrow-list-center">
                            <i class="fa fa-chevron-right pull-right"></i>
                        </div>
                    </div>
                </div>

                <!-- //Notification-->
                <div href ng-click="itemMainListSelected(5)" class="list-group-item item-list">
                    <div class="row">
                        <div class="col-xs-2  arrow-list-center text-center">
                            <i class="fa fa-exclamation-circle fa-2x emoji"></i>
                        </div>
                        <div class="col-xs-8 " style="padding-left: 0px;">
                            <p class="name-item-list"> Notification (0)</p>
                            <p class="description-item-list">Description text</p>
                        </div>
                        <div class="col-xs-2  arrow-list-center">
                            <i class="fa fa-chevron-right pull-right"></i>
                        </div>
                    </div>
                </div>

                <!--//PIM-->
                <div href ng-click="itemMainListSelected(6)" class="list-group-item item-list">
                    <div class="row">
                        <div class="col-xs-2  arrow-list-center text-center">
                            <i class="fa fa-book fa-2x  emoji "></i>
                        </div>
                        <div class="col-xs-8 " style="padding-left: 0px;">
                            <p class="name-item-list"> PIM (0)</p>
                            <p class="description-item-list">Description text</p>
                        </div>
                        <div class="col-xs-2  arrow-list-center">
                            <i class="fa fa-chevron-right pull-right"></i>
                        </div>
                    </div>
                </div>

                <!--//Reader-->
                <div href ng-click="itemMainListSelected(7)" class="list-group-item item-list">
                    <div class="row">
                        <div class="col-xs-2  arrow-list-center text-center">
                            <i class="fa fa-rss fa-2x emoji"></i>
                        </div>
                        <div class="col-xs-8 " style="padding-left: 0px;">
                            <p class="name-item-list"> Reader (0)</p>
                            <p class="description-item-list">Description text</p>
                        </div>
                        <div class="col-xs-2  arrow-list-center">
                            <i class="fa fa-chevron-right pull-right"></i>
                        </div>
                    </div>
                </div>

                <!--//Security-->
                <div href ng-click="itemMainListSelected(8)" class="list-group-item item-list">
                    <div class="row">
                        <div class="col-xs-2  arrow-list-center text-center">
                            <i class="fa fa-lock fa-2x emoji"></i>
                        </div>
                        <div class="col-xs-8 " style="padding-left: 0px;">
                            <p class="name-item-list"> Security (0)</p>
                            <p class="description-item-list">Description text</p>
                        </div>
                        <div class="col-xs-2  arrow-list-center">
                            <i class="fa fa-chevron-right pull-right"></i>
                        </div>
                    </div>
                </div>

                <!--//Sensor-->
                <div href ng-click="itemMainListSelected(9)" class="list-group-item item-list">
                    <div class="row">
                        <div class="col-xs-2  arrow-list-center text-center">
                            <i class="fa fa-send-o fa-2x emoji"></i>
                        </div>
                        <div class="col-xs-8 " style="padding-left: 0px;">
                            <p class="name-item-list"> Sensor (0)</p>
                            <p class="description-item-list">Description text</p>
                        </div>
                        <div class="col-xs-2  arrow-list-center">
                            <i class="fa fa-chevron-right pull-right"></i>
                        </div>
                    </div>
                </div>

                <!--//Social-->
                <div href ng-click="itemMainListSelected(10)" class="list-group-item item-list">
                    <div class="row">
                        <div class="col-xs-2  arrow-list-center text-center">
                            <i class="fa fa-users fa-2x emoji"></i>
                        </div>
                        <div class="col-xs-8 " style="padding-left: 0px;">
                            <p class="name-item-list"> Social (0)</p>
                            <p class="description-item-list">Description text</p>
                        </div>
                        <div class="col-xs-2  arrow-list-center">
                            <i class="fa fa-chevron-right pull-right"></i>
                        </div>
                    </div>
                </div>

                <!--//System-->
                <div href ng-click="itemMainListSelected(11)" class="list-group-item item-list">
                    <div class="row">
                        <div class="col-xs-2  arrow-list-center text-center">
                            <i class="fa fa-desktop fa-2x emoji"></i>
                        </div>
                        <div class="col-xs-8 " style="padding-left: 0px;">
                            <p class="name-item-list"> System (0)</p>
                            <p class="description-item-list">Description text</p>
                        </div>
                        <div class="col-xs-2 arrow-list-center">
                            <i class="fa fa-chevron-right pull-right"></i>
                        </div>
                    </div>
                </div>

                <!--//UI-->
                <div href ng-click="itemMainListSelected(12)" class="list-group-item item-list">
                    <div class="row">
                        <div class="col-xs-2  arrow-list-center text-center">
                            <i class="fa fa-paint-brush fa-2x emoji"></i>
                        </div>
                        <div class="col-xs-8 " style="padding-left: 0px;">
                            <p class="name-item-list"> UI (0)</p>
                            <p class="description-item-list">Description text</p>
                        </div>
                        <div class="col-xs-2  arrow-list-center">
                            <i class="fa fa-chevron-right pull-right"></i>
                        </div>
                    </div>
                </div>

                <!--//Util-->
                <div href ng-click="itemMainListSelected(13)" class="list-group-item item-list">
                    <div class="row">
                        <div class="col-xs-2  arrow-list-center text-center">
                            <i class="fa fa-cog fa-2x emoji"></i>
                        </div>
                        <div class="col-xs-8 " style="padding-left: 0px;">
                            <p class="name-item-list"> Util (0)</p>
                            <p class="description-item-list">Description text</p>
                        </div>
                        <div class="col-xs-2  arrow-list-center">
                            <i class="fa fa-chevron-right pull-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>