<section class="section container-fluid">

    <div class="scrollable" ui-state="searchBar">

        <div class="section border-bottom-line-subtitle subToolBar">

            <div class="row">
                <div ng-click="setBackTransitionUnits()" class="col-xs-4">
                    <div class="btn btn-default back-button"> <i class="fa fa-chevron-left pull-left back-icon"></i> Back</div>
                </div>
                <div class="col-xs-4">
                    <p class="align-center label-form text-center">{{method_list.name}}</p>
                </div>
                <div class="col-xs-4">
                </div>
            </div>

        </div>

        <div ng-if="Ui.active('searchBar')" type="search" class="wrapper-search">

            <input style="margin-top: 39px; margin-bottom: -28px;" ng-model="searchText" class="form-control scrollable-header" placeholder="Search.." />

            <div class="scrollable-content subtitle-content list-content">
                <div class="list-group">
                    <a ng-repeat="item in method_list.list | filter:searchText" ng-click="itemMethodListSelected(item.id)" class="list-group-item item-list">
                        <div class="row">
                            <div class="col-xs-8">
                                <p class="name-item-list">{{item.name}}</p>
                                <p class="description-item-list">{{item.description}}</p>
                            </div>

                            <div class="col-xs-2  arrow-list-center" ng-click="addFavorites(item.id)">
                                <i ng-class="{starIcon: !item.favorite, starIconFavorite: item.favorite }" class="pull-right"></i>
                            </div>

                            <div class="col-xs-2  arrow-list-center">
                                <i class="fa fa-chevron-right pull-right"></i>
                            </div>
                        </div>
                        <!--  {{item.name}}
                    <div styles="white-space: nowrap;">
                    {{item.description}}
                    </div>
                    <i class="fa fa-chevron-right pull-right"></i>-->
                    </a>
                </div>
            </div>

        </div>

        <div ng-if="!Ui.active('searchBar')" class="scrollable-content subtitle-content list-content">
            <div class="list-group">
                <div ng-repeat="item in method_list.list" ng-click="itemMethodListSelected($index)" class="list-group-item item-list">
                    <div class="row">

                        <div class="col-xs-8">
                            <p class="name-item-list">{{item.name}}</p>
                            <p class="description-item-list">{{item.description}}</p>
                        </div>

                        <div class="col-xs-2  arrow-list-center" ng-click="addFavorites(item.id)">
                            <i ng-class="{starIcon: !item.favorite, starIconFavorite: item.favorite }" class="pull-right"></i>
                        </div>

                        <div class="col-xs-2  arrow-list-center">
                            <i class="fa fa-chevron-right pull-right"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>