<div class="modal" ui-if='modal2' ui-state='modal2'>
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" ui-turn-off="modal2">&times;</button>
                <h4 class="modal-title">Submit</h4>
            </div>
            <div class="modal-body">
                <p>Submit content...</p>
            </div>
            <div class="modal-footer">
                <button ui-turn-off="modal2" class="btn btn-primary">Ok</button>
            </div>
        </div>
    </div>
</div>