<h1 class="app-name"></h1>

<div class="scrollable">
    <h1 class="scrollable-header app-name"></h1>

    <div class="sidebar-image-wrapper">
        <img src="styles/images/adaptive_logo.png" alt="...">
    </div>

    <div class="sidebar-scrollable-content">
        <div class="list-group" ui-turn-off='uiSidebarLeft'>
            <div class="list-group-item" ng-click="go('home-page')">HomePage <i class="fa fa-chevron-right pull-right"></i>
            </div>
            <div class="list-group-item" ng-click="go('home')">Services <i class="fa fa-chevron-right pull-right"></i>
            </div>
            <div class="list-group-item" ng-click="go('favorites')">Favorites <i class="fa fa-chevron-right pull-right"></i>
            </div>
            <div class="list-group-item" ng-click="go('license')">License <i class="fa fa-chevron-right pull-right"></i>
            </div>
            <div class="list-group-item" ng-click="go('contact')">Contact <i class="fa fa-chevron-right pull-right"></i>
            </div>
        </div>
    </div>
    <div class="sidebar-content-info">
        <p>Adaptive Showcase
            <br> Version: 2.2.12
            <br> Author: Carlos Lozano Diez.
        </p>
    </div>

</div>