<h1 class="app-name"></h1>

<div class="scrollable">
    <h1 class="scrollable-header app-name"></h1>

    <div class="sidebar-image-wrapper">
        <img src="styles/images/adaptive_logo.png" alt="...">
    </div>

    <div class="sidebar-scrollable-content">
        <div class="list-group" ui-turn-off='uiSidebarLeft'>
            <a class="list-group-item" href="#/home-page">HomePage <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/home">Services  <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/favorites">Favorites <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/license">License  <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/contact">Contact  <i class="fa fa-chevron-right pull-right"></i></a>
        </div>
    </div>

    <div class="sidebar-content-info">
        <p>Adaptive Showcase
        </p>
        <p>Version: 2.2.12
        </p>
        <p>Author: Carlos Lozano Diez.
        </p>
    </div>

</div>