<section class="section container-fluid">

    <div class="scrollable" ui-state="searchBar">

        <div class="section border-bottom-line-subtitle">

            <!--<div class="section">
                <a href="#/units-list" class="btn btn-default">Back</a>
            </div>-->

            <!--<div class="row">
                <div class="col-xs-4">
                    <a href="#/units-list" class="btn btn-default" id="ios-arrow-left">Back</a>
                </div>
                <div class="col-xs-4">
                    <p class="align-center label-form text-center">{{method_list.name}}</p>
                </div>
                <div class="col-xs-4">
                </div>
            </div>-->

            <div class="row">
                <div class="col-xs-4">
                    <a href="#/home" class="btn btn-default back-button"> <i class="fa fa-chevron-left pull-left"></i> Back</a>
                </div>
                <div class="col-xs-4">
                    <p class="align-center label-form text-center">{{unit_list.name}}</p>
                </div>
                <div class="col-xs-4">
                </div>
            </div>

        </div>
        <input ng-if="Ui.active('searchBar')" type="search" class="form-control scrollable-header" placeholder="Search.." />

        <div class="scrollable-content">
            <div class="list-group">
                <a ng-repeat="item in unit_list.list" href ng-click="itemUnitListSelected($index)" class="list-group-item">

                    <!-- {{item.name}} ({{item.size}})
                   <i class="fa fa-chevron-right pull-right"></i>-->

                    <div class="row">
                        <div class="col-xs-8 name-item-list">
                            {{item.name}} ({{item.size}})
                            <br>
                            <p class="description-item-list">
                                {{item.description}}
                                <p/>
                        </div>
                        <div class="col-xs-4  arrow-list-center">
                            <i class="fa fa-chevron-right pull-right"></i>
                        </div>
                    </div>


                </a>
            </div>
        </div>

        <!--<a class="btn btn-block btn-lg btn-primary scrollable-footer" ui-toggle='searchBar'>
            <i class="fa fa-search"></i>
            <span ui-hide="searchBar">Show</span>
            <span ui-show="searchBar">Hide</span> Search Bar
        </a>-->
    </div>

</section>

<!--<section class="section container-fluid">
    <h4 class="page-header"> </h4>

    <div class="scrollable" ui-state="searchBar">
        <input ng-if="Ui.active('searchBar')" type="search" class="form-control scrollable-header" placeholder="Search.." />

        <div class="scrollable-content">
            <div class="list-group">
                <a ng-repeat="item in unit_list" href="#" class="list-group-item">
                    <div>
                        {{ item.name }} <i class="fa fa-chevron-right pull-right"></i>
                    </div>
                </a>
            </div>
        </div>
        <a class="btn btn-block btn-lg btn-primary scrollable-footer" ui-toggle='searchBar '>
            <i class="fa fa-search"></i>
            <span ui-hide="searchBar">Show</span>
            <span ui-show="searchBar">Hide</span> Search Bar
        </a>
    </div>
</section>-->