<div class="wrapper-without-background">
    <nav class="navbar navbar-default navbar-information-page">
        <div class="container-fluid">
            <div class="col-xs-3 text-center">
                <button type="button" class="btn btn-default btn-sm" ui-sref="main-page.methods-list">BACK</button>
            </div>
            <div class="col-xs-6 text-center">
                <h4 style="color: white;">{{detail_list.name}}</h4>
            </div>
            <div class="col-xs-3 text-center">
                <button type="button" class="btn btn-default btn-sm" ui-sref="main-page.main-list">HOME</button>
            </div>
        </div>
    </nav>
</div>